# Cache files
.cache/

# IDE settings (optional, remove if you want to share VSCode config)
# .vscode/

# OS files
.DS_Store
Thumbs.db

# Archive files
*.zip
*.rar

# Test log files
VirusDetectorLog/
VirusDetectorDevFile/

# node modules
node_modules/
dist/
package-lock.json
package.json